@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    
    overflow-x: hidden; 

}

body{
    font-family: 'Poppins', sans-serif;
    color: rgb(33, 49, 6);
    
    
    
}

/* HEADER SECTION*/
.header{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 253, 249);
}

.header__contenedor{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__contenedor img{
    width: 3rem;
    height: 3rem;
}


.header__contenedor--titulo-img{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-evenly;
}
.header__contenedor__img-subtitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__contenedor__img-subtitulo img{
    width: 2.4rem;
    height: 2.4rem;
}
.header__contenedor__img-subtitulo img:hover{
    cursor: pointer;
    
    

}
.header__usuario-carrito-flex{
    display: flex;
    width: 10rem;
    justify-content: space-around;
}


/* MAIN SECTION */
.main{
    width: 100%;
    height: 50.09rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #e05656;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.233);
    
}

.main__text{
    margin: 1rem 1rem;
    width: 75%;
    background-color: white;
    line-height: 2rem;
    font-size: 1.5rem;
}

.main__cards{
    display:flex;
    width: 70%;
    height: 25rem;
    justify-content: space-around;
    align-items: center;
}
.main__cards__productos{
    width: 17rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px gray;
    border-radius: 0.4rem;
    background-color: #ffffff;
}
.main__cards__productos img{
    width: 10rem;
    height: 12rem;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    border-radius: 0.4rem;
}
.main__cards__button{
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 0.4rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    transition: 0.3s;
    transform: scale(1.5);
    margin: 0.5rem 0;
    cursor: pointer;
}

.main__cards__button:active{
    transform: scale(0.95);
}
.main__cards__precio-nombre{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.main__botones-agregar-eliminar{
    border: solid 1px rgb(0, 0, 0);
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    
}

.main__inputs-style{
    border-top: none;
    border-bottom: none;
    border-left:1px solid rgb(206, 202, 202); ;
    border-right: 1px solid rgb(206, 202, 202);
    width: 1.5rem;
    height: 2rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    outline: none;
}
.main__inputs-style input{
    font-size: 4rem;
    font-weight: bolder;
}


.main__button{
    width: 7rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.2s;
    font-family: 'Poppins',sans-serif;
    margin: 0.5rem 0;
}
.main__button:active{
    transform: scale(0.92);
}

.card{
    margin: 1rem 0;
    width: 100%;
    height: 60%;
    border: solid black 1px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.input__forma{
    border: none;
    width: 8rem;
    height: 2rem;
    border-radius: 0.3rem;
    font-family: sans-serif;
    font-size: 1.4rem;
    text-align: center;

}
.menu__carrito__contenedor{
    display: flex;
    justify-content: center;
}

.menu__carrito{
    width: 25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: solid 1px gray;
    position: absolute;
    background-color:white;
    z-index: 200;
    transition: 0.7s;
    right: -200%;
    top: 0;
    
}

.menu__usuario{
    width: 25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: solid 1px gray;
    position: absolute;
    background-color:white;
    z-index: 200;
    transition: 1s;
    left: -200%;
    top: 0;
    
}
.menu__usuario__picture{
    width: 90%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.menu__usario__h2,.menu__usuario__h3{
    font-family: lato,sans-serif;
    margin: 0.5rem 0;
}
.menu__usuario__h3{
    color: rgb(90, 87, 87);
}
.menu__usuario__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10rem;
}

.menu__usuario__inputs-contenedor{
    border: solid 1px rgb(150, 148, 148);
    border-radius: 0.4rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__usuario__input{
    width: 95%;
    height: 3rem;
    outline: none;
    border: none;
    text-align: left;
    border-bottom: solid 1px gray;
    border-top-left-radius: 00.4rem;
    border-top-right-radius: 0.4rem;
    font-family: lato,sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}
.menu__usuario__input-borde{
    border: none;
    border-bottom-left-radius:0.4rem;
    border-bottom-right-radius: 0.4rem;
}

.menu__usuario__submit{
    width: 8rem;
    height: 2.4rem;
    border: none;
    background-color: black;
    color: white;
    font-family: lato,sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 0.4rem;
    
}

.mensaje__error,.contenedor__error{
    width: 100%;
    text-align: center;
    
    
}


.menu__usuario__cerrar{
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}
.menu__carrito__botones{
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.menu__carrito__cerrar-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    height: 7rem;
    border-bottom: solid 1px gray;
    margin-bottom: 1.5rem;
    
    
}
.menu__carrito__cerrar{
    width: 1rem;
    height: 1rem;
    
}
.menu__carrito__cerrar:hover{
    cursor: pointer;
    
}
.menu__carrito__h2{
    margin: 0.8rem 0;
}


.boton-papelera-carrito{
    width: 1.2rem;
    height: 1.2rem;
}
.boton-papelera-carrito:hover{
    cursor: pointer;
}
@keyframes saltar {
    0%{
        transform: scale(0.85);
    }
    20%{
        transform: scale(0.75);
    }
    50%{
        transform: scale(0.5);
    }
    70%{
        transform: scale(0.70);
    }
    90%{
        transform: scale(0.85);
    }
    100%{
        transform: scale(1);
    }
}

.botones__finalizar-cuotas{
    width: 5rem;
    height: 3rem;
    border: none;
    background-color: #000000;
    font-weight: bold;
    color: white;
    border-radius: 0.4rem;
    box-shadow: 1px 1px 7px grey;
    transition: 0.4s;
    /*animation: saltar 1s infinite;*/

}

.botones__finalizar-cuotas:hover{
    transform: scale(0.95);
}
.menu__cuotas__botones{
    font-size: 0.80rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    border: none;
    color: white;
    border-radius: 0.4rem;
    width: 4.8rem;
    height: 4.5rem;
    background-color: #1b1a1a;
    transition: 0.3s;
}
.menu__cuotas__botones:active{
    transform: scale(0.94);
}
#insertar__total__interes{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#vaciar-compra{
    display: none;
}
.menu__subtotal{
    text-align: center;
}
.main__contenedor__appenchild{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.4rem;
    border: solid 1px gray;
    border-radius: 0.4rem;
    
    
}
.toastify-notificacion{
    border: solid 1px black;
    font-size: 1.1rem;
    
}
.contenedor-mensaje-carrito{
    display: flex;
    justify-content: space-evenly;
    
}
.imagen__producto__subtotal{
    width: 2.9rem;
    height: 2.9rem;
    border-radius: 0.4rem;
}
.main__mostrar__productos__contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow:scroll;
    text-decoration: none;
    align-items: center;
    
}
.main__mostrar__productos__contenedor::-webkit-scrollbar {
    display: none;
}

.main__contenedor{
    
    width: 100%;
    background-color: white;
}



@media(max-width:600px){
    .main{
        width: 80%;
        height: 70%;
    }
    .main__text{
        width: 85%;
    }
    h1{
        text-align: center;
    };
}

@media(max-width:450px){
    .main{
        height: 90%;
    }
    
}