@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: rgb(33, 49, 6);
    
    
    
}
.header{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 253, 249);
}

.header__contenedor{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__contenedor img{
    width: 3rem;
    height: 3rem;
}

.header__contenedor--titulo-img{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-evenly;
}
.header__contenedor__img-subtitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__contenedor__img-subtitulo img{
    width: 3rem;
    height: 3rem;
    transition: 0.4s;
}
.header__contenedor__img-subtitulo img:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px gray;
    border-radius: 0.4rem;
    background-color: rgb(236, 159, 159);

}

.main{
    width: 100%;
    height: 50.09rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #e05656;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.233);
    
}

.main__text{
    margin: 1rem 1rem;
    width: 75%;
    background-color: white;
    line-height: 2rem;
    font-size: 1.5rem;
}

.main__cards{
    display:flex;
    width: 70%;
    height: 25rem;
    justify-content: space-around;
    align-items: center;
}
.main__cards__productos{
    width: 17rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px gray;
    border-radius: 0.4rem;
    background-color: #ffffff;
}
.main__cards__productos img{
    width: 10rem;
    height: 12rem;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    border-radius: 0.4rem;
}
.main__cards__button{
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 0.4rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    transition: 0.3s;
    transform: scale(1.5);
    margin: 0.5rem 0;
    cursor: pointer;
}

.main__cards__button:active{
    transform: scale(0.95);
}
.main__cards__precio-nombre{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.main__botones-agregar-eliminar{
    border: solid 1px rgb(0, 0, 0);
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    
}

.main__inputs-style{
    border-top: none;
    border-bottom: none;
    border-left:1px solid rgb(206, 202, 202); ;
    border-right: 1px solid rgb(206, 202, 202);
    width: 1.5rem;
    height: 2rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    outline: none;
}
.main__inputs-style input{
    font-size: 4rem;
    font-weight: bolder;
}


.main__button{
    width: 7rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.2s;
    font-family: 'Poppins',sans-serif;
    margin: 0.5rem 0;
}
.main__button:active{
    transform: scale(0.92);
}

.card{
    margin: 1rem 0;
    width: 100%;
    height: 60%;
    border: solid black 1px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.input__forma{
    border: none;
    width: 8rem;
    height: 2rem;
    border-radius: 0.3rem;
    font-family: sans-serif;
    font-size: 1.4rem;
    text-align: center;

}
.menu__carrito__contenedor{
    display: flex;
    justify-content: center;
}

.menu__carrito{
    width: auto;
    height: 36.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black;
    position: absolute;
    top: 0;
    background-color:white;
    z-index: 10;
    transition: 0.7s;
    top: -200%;
    
}
.menu__carrito__botones{
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid black 1px;
}

.menu__carrito__h2{
    margin: 0.8rem 0;
}
.botones__finalizar-cuotas{
    width: 5rem;
    height: 3rem;
    border: none;
    background-color: #c4a4ec;
    border-radius: 0.4rem;
    box-shadow: 1px 1px 7px grey;
    transition: 0.4s;

}
.botones__finalizar-cuotas:hover{
    transform: scale(0.95);
}
#insertar__total__interes{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#vaciar-compra{
    display: none;
}
.menu__subtotal{
    text-align: center;
}
.main__contenedor__appenchild{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.4rem;
    border: solid 1px gray;
    
}
.imagen__producto__subtotal{
    width: 4rem;
    height: 4rem;
}
.main__mostrar__productos__contenedor{
    width: 50rem;
    display: flex;
    flex-direction: column;
    overflow:scroll;
    align-items: center;
    
}
.main__contenedor{
    
    width: 100%;
    background-color: white;
}



@media(max-width:600px){
    .main{
        width: 80%;
        height: 70%;
    }
    .main__text{
        width: 85%;
    }
    h1{
        text-align: center;
    };
}

@media(max-width:450px){
    .main{
        height: 90%;
    }
    
}